
.grid {
    margin: auto;
}

.grid-buttons-row {
    margin: 5vh 0;
    width: 100%;
    display: flex;
    align-items: center;

    .tactile-button {
        margin: auto;
        padding: 0 1vw;
    }
}