#tutorial-screen {
    display: flex;
    flex-direction: column;

    .tutorial-text {
        display: flex;
        flex-direction: column;
        margin: 4vh auto;
        
        .tutorial-text-row {
            margin: 0 auto;
            display: flex;
            flex-direction: row;

            .tutorial-text-colored {
                font-weight: bold;
                color: var(--purple);

                &::before, &::after {
                    content: "\00a0";
                }
            }

            .tutorial-text-bold {
                font-weight: bold;

                &::before, &::after {
                    content: "\00a0";
                }
            }
        }
    }

    .tactile-button {
        margin: 1vh auto;
    }
}