#tutorial-screen {
    display: flex;
    flex-direction: column;

    .tutorial-text {
        display: flex;
        flex-direction: column;
        margin: 4vh auto;

        .tutorial-text-row {
            width: fit-content;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            text-align: center;

            span {
                white-space:normal;
            }

            b,
            .tutorial-text-colored {
                font-weight: bold;

                &::before,
                &::after {
                    content: "\00a0";
                }
            }

            .tutorial-text-colored {
                color: var(--purple);
            }
        }
    }

    .fade {
        margin: 1vh auto;
    }
}