.grid {
    margin: auto;
}

.score-counter {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#challenge-screen {
    .grid-buttons-row {
        margin: 5vh auto;
        width: fit-content;
        display: flex;
        align-items: center;

        .tactile-button {
            margin: 0 1vw;
            padding: 0 1vw;
            width: min(15vw, 15vh);
        }
    }
}