.logo {
    margin: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 0.25vw;
    transition: all 0.5s ease-in-out;

    #logo-svg {
        margin: 1vh 0;
        height: var(--logo-height);
    }

    #logo-tri {
        color: black;
        fill: black;
    }

    #logo-ko {
        color: var(--yellow);
        fill: var(--yellow);
    }

    #logo-l {
        color: var(--purple);
        fill: var(--purple);
    }

    #logo-o {
        color: var(--cyan);
        fill: var(--cyan);
    }

    #logo-bracket {
        color: black;
        fill: black;
    }
}

.home-logo {
    margin-bottom: 10vh;
    transform: translateY(10vh);
}

.darkmode-on {
    .logo {
        #logo-tri {
            color: whitesmoke;
            fill: whitesmoke;
        }

        #logo-bracket {
            color: whitesmoke;
            fill: whitesmoke;
        }
    }
}