#home-screen {
    .home-buttons {
        margin-top: 5vh;
        align-items: center;
        display: flex;
        flex-direction: column;

        .tactile-button {
            margin: 2vh;
        }
    }
}