#home-screen {
    .home-buttons {
        align-items: center;
        display: flex;
        flex-direction: column;

        .tactile-button {
            min-width: var(--logo-width);
            margin: 2vh;
        }
    }
}